body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
nav,

nav {
  text-align: center;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

nav a {
@@ -26,12 +31,12 @@ nav a {
#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  margin: 8px auto;
}

div{
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}

}

